@import "@/assets/styles/common.scss";

.header-wrapper {
  background: url("@/assets/images/vegetable_pattern.svg")
    var(--background-pink);
  height: 150px;
  max-height: 150px;
  .brand-name {
    .sidebar-toggle-btn {
      top: 5px;
      left: 10px;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      :hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
    h1 {
      font-size: 24px;
      width: fit-content;
    }
  }
  .search-bar {
    span {
      color: var(--icon-grey);
      font-size: 1.2rem;
      top: 8px;
      left: 15px;
    }
  }
}
.sidebar-wrapper {
  background: url("@/assets/images/vegetable_pattern.svg")
    var(--background-pink);
  height: 150px;
  max-height: 150px;
  .brand-name {
    h1 {
      font-size: 24px;
      width: fit-content;
    }
  }
  .close-sidebar-btn {
    right: 20px;
    top: 1.5rem;
    font-size: 1.5rem;
  }
  .search-bar {
    height: 40px;
    max-height: 40px;
    .multiselect {
      .multiselect__select {
        height: 40px;
      }
      .multiselect__tags {
        max-height: 40px;
        .multiselect__tags-wrap {
          display: none !important;
        }
      }
    }
  }
}
.ingredient-category-wrapper {
  .accordion-header-wrapper {
    cursor: pointer;
    .left-section {
      img {
        width: 50px;
        height: 50px;
      }
    }
    .right-section {
      .cate-counter {
        color: rgba(79, 80, 90, 0.6);
        font-size: 13px;
      }
    }
  }
}
.ingredient-list {
  .ingredient-item {
    margin: 5px;
    padding: 10px;
    background-color: rgba(181, 191, 200, 0.2);
    color: rgba(79, 80, 90, 0.6);
    font-size: 14px;
    line-height: 20px;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: white;
      background-color: var(--success-green);
      cursor: pointer;
    }
  }
  .ingredient-item.active {
    background-color: var(--success-green);
    color: white;
  }
}
.sidebar-body {
  height: calc(100% - 150px);
}
.recipe-detail {
  .recipe-detail-header {
    height: 400px;
    .close-sidebar-btn {
      width: 35px;
      height: 35px;
      color: black;
      top: 10px;
      left: 10px;
      font-size: 20px;
    }
    img {
      object-fit: cover;
    }
  }
  .recipe-detail-body {
    .recipe-title {
      top: -30px;
      max-height: 56px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.main-search-result {
  height: calc(100vh - 150px);
}
.main {
  .main-search-result {
    .recipe-list {
      .recipe-item {
        @media only screen and (max-width: 1100px) {
          width: 100% !important;
        }
      }
    }
  }
  .empty-state-content {
    text-align: center;
    .empty-state-icon {
      width: 80px;
      height: 80px;
    }
    .title {
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
}
.master {
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.7),
      hsla(0, 0%, 100%, 0.7)
    ),
    url("https://www.supercook.com/statics/images/onboarding-bg.svg");
  background-position: 0px 0px, 50% 0%;
  background-size: auto, auto;
  height: 100vh;
}
