@import "@/assets/styles/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");

.sidebar {
  left: 0;
  top: 0;
  height: 100%;
  min-height: min-content;
  width: 78px;
  background: #2a3042;
  z-index: 99;
  transition: 0.2s all ease-in-out;
  i {
    color: white;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .natural-margin {
    margin: 6px 14px 0 14px;
  }
  .logo-details {
    height: 60px;
    .menu-logo {
      width: 30px;
      margin: 0 10px 0 10px;
    }
    .icon {
      opacity: 0;
      transition: 0.2s all ease-in-out;
    }
    .logo_name {
      color: white;
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: 0.2s all ease-in-out;
      .master-title {
        color: white;
      }
    }
    #btn {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
      transition: 0.2s all ease-in-out;
      font-size: 23px;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
    }
  }
  .menu-nav-list {
    max-height: calc(100% - 60px);
    #my-scroll {
      overflow-y: auto;
      height: calc(100% - 60px);
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .natural-margin {
      .nav-list {
        margin-top: 20px;
        li {
          margin: 8px 0;
          .tooltip {
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #e4e9f7;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
          }
          &:hover {
            .tooltip {
              opacity: 1;
              pointer-events: auto;
              transition: 0.2s all ease-in-out;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          a {
            height: 100%;
            width: 100%;
            border-radius: 12px;
            transition: 0.2s all ease-in-out;
            &:hover {
              background: var(--background-pink);
              .links_name,
              i {
                transition: 0.2s all ease-in-out;
              }
            }
            .links_name {
              color: white;
              font-size: 15px;
              font-weight: 400;
              white-space: nowrap;
              opacity: 0;
              pointer-events: none;
              transition: 0.2s all ease-in-out;
            }
            i {
              height: 50px;
              line-height: 50px;
              font-size: 18px;
              border-radius: 12px;
            }
          }
        }
      }
    }
    .profile {
      height: 60px;
      width: 78px;
      color: white;
      padding: 10px 14px;
      background: #1d1b31;
      transition: 0.2s all ease-in-out;
      overflow: hidden;
      #log_out {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #1d1b31;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: 0.2s all ease-in-out;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  &.open {
    width: 250px;
    .logo-details {
      .icon,
      .logo_name {
        opacity: 1;
      }
      #btn {
        text-align: right;
      }
    }
    .menu-nav-list {
      .natural-margin {
        .nav-list {
          li {
            .tooltip {
              display: none;
            }
            a {
              .links_name {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
        }
      }
      .profile {
        width: 250px;
        #log_out {
          width: 50px;
          background: #1d1b31;
          opacity: 1;
        }
        &:hover {
          #log_out {
            opacity: 1;
            &:hover {
              opacity: 1;
              color: red;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.my-scroll-active {
  overflow-y: auto;
}
@media (max-width: 420px) {
  .sidebar {
    .menu-nav-list {
      .natural-margin {
        .nav-list {
          li {
            .tooltip {
              display: none;
            }
          }
        }
      }
    }
  }
}
