.header-wrapper{
  background: url("@/assets/images/vegetable_pattern.svg") #d8456b;

  .brand-name{
    h1{
      color: white;
      font-size: 24px;
      width: fit-content;
    }
  }
  .search-bar{
    position: relative;

    span{
      position: absolute;
      color: #979797;
      font-size: 1.5rem;
      top: 0px;
      left: 15px;
    }
  }
}
