.header-wrapper {
  background: url('@/assets/images/vegetable_pattern.svg')
    var(--background-pink);
  .brand-name {
    .sidebar-toggle-btn {
      top: 5px;
      left: 10px;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      :hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
    h1 {
      font-size: 24px;
      width: fit-content;
    }
  }
  .search-bar {
    span {
      color: var(--icon-grey);
      font-size: 1.5rem;
      top: 0px;
      left: 15px;
    }
  }
}
.sidebar-wrapper {
  background: url('@/assets/images/vegetable_pattern.svg')
    var(--background-pink);
  .brand-name {
    h1 {
      font-size: 24px;
      width: fit-content;
    }
  }
  .close-sidebar-btn {
    right: 20px;
    top: 1.5rem;
    font-size: 1.5rem;
  }
  .search-bar {
    span {
      color: var(--icon-grey);
      font-size: 1.5rem;
      top: 0px;
      left: 15px;
    }
  }
}
.ingredient-category-wrapper {
  .accordion-header-wrapper {
    cursor: pointer;
    .left-section {
      img {
        width: 50px;
        height: 50px;
      }
    }
    .right-section {
      .cate-counter {
        color: rgba(79, 80, 90, 0.6);
        font-size: 13px;
      }
    }
  }
}
.ingredient-list {
  .ingredient-item {
    margin: 5px;
    padding: 10px;
    background-color: rgba(181, 191, 200, 0.2);
    color: rgba(79, 80, 90, 0.6);
    font-size: 14px;
    line-height: 20px;
  }
}
.sidebar-body {
  height: calc(100% - 150px);
}
.recipe-detail {
  .recipe-detail-header {
    height: 400px;
    .close-sidebar-btn {
      width: 35px;
      height: 35px;
      color: black;
      top: 10px;
      left: 10px;
      font-size: 20px;
    }
    img {
      object-fit: cover;
    }
  }
  .recipe-detail-body {
    .recipe-title {
      top: -30px;
      max-height: 56px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
@media only screen and (min-width: 900px) {
  .header-wrapper {
    padding-left: 450px !important;
    .brand-name {
      .sidebar-toggle-btn {
        display: none;
      }
    }
  }
}
